{% extends 'base.html' %}
{% block content %}
<h1>Child</h1>
<div class="card">
    <div class="card-content">
      <span class="card-title">{{ child.name }}</span>
      <p>Age: {{ child.age }}</p>
      <p>Note: {{ child.note }}</p>
    </div>
    <div class="card-action">
    <a href="{% url 'children_update' child.id %}">Edit</a>
    <a href="{% url 'children_delete' child.id %}">Delete</a>
</div>
</div>

<div class="col s6">
   
    <form action="{% url 'add_roster' child.id %}" method="POST">
      {% csrf_token %}
      <!-- Render the inputs -->
      {{ roster_form.as_p }}
      <input type="submit" class="btn" value="Add Child to Roster">
    </form>
    <br>
    <div class="card-panel teal-text center-align">{{child.name}} Daily Info.</div>
    
    <table class="striped">
      <thead>
        <tr><th>Checkin Data</th></tr>
      </thead>
      <tbody>
        {% for roster in child.roster_set.all %}
          <tr>
            <td>{{roster.date}}</td>
            <td>{{roster.time_entered}}</td>
            <td>{{roster.age_group}}</td>
            <td>{{roster.caregiver}}</td> 
            <td>{{roster.dropped_off_by}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ child.name }}'s Activites</h3>
    {% if child.activities.count %}
      {% for activity in child.activities.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
                <span>{{ activity.name }} <br>{{ activity.duration }} <br>{{activity.description}}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_activity' child.id activity.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Activities</h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Activities</h3>
    {% if activities.count %}
      {% for activity in activities.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
                <span>{{ activity.name }} <br>{{ activity.duration }} <br>{{activity.description}}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_activity' child.id activity.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Available Activities</h5>
    {% endif %}
  </div>
</div>
  

  <script>
      const dateEl = document.getElementById('id_date');
      M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
      });
    </script>
{% endblock %}
  
  
   
            
   
      
    


  
  
  
     
  

