.nav-wrapper {
    background-color: blue !important;
    font-size: 14px;
    font-weight: bold;
  }
  .page-footer {
    background-color: blue !important;
    font-size: 14px;
    font-weight: bold;
  }
  