
body{
  background-size: cover;
    -webkit-text-fill-color: blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://t3.ftcdn.net/jpg/02/47/49/30/240_F_247493043_NMSdZJ7VtUVdCXlp7o7s6JZNQQDYlSVy.jpg);
}

.nav-wrapper {
    background-color: blue !important;
    font-size: 14px;
    font-weight: bold;
  }
  .page-footer {
    background-color: blue !important;
    font-size: 14px;
    font-weight: bold;
  }
  #striped{
    font-size: medium;
  }
